<ngbd-overview-section [section]="sections['introduction']">
    <ngbd-typeahead-overview-section-introduction></ngbd-typeahead-overview-section-introduction>
</ngbd-overview-section>

<ngbd-overview-section [section]="sections['use-case-basic']">
    <ngbd-typeahead-overview-section-use-case-basic></ngbd-typeahead-overview-section-use-case-basic>
</ngbd-overview-section>

<ngbd-overview-section [section]="sections['use-case-focus']">
    <ngbd-typeahead-overview-section-use-case-focus></ngbd-typeahead-overview-section-use-case-focus>
</ngbd-overview-section>

<ngbd-overview-section [section]="sections['use-case-async']">
    <ngbd-typeahead-overview-section-use-case-async></ngbd-typeahead-overview-section-use-case-async>
</ngbd-overview-section>

<ngbd-overview-section [section]="sections['display-customization']">
    <ngbd-typeahead-overview-section-display-customization></ngbd-typeahead-overview-section-display-customization>
</ngbd-overview-section>

<ngbd-overview-section [section]="sections['operators']">
  <ngbd-overview-operators-reference [operators]="operators"></ngbd-overview-operators-reference>
</ngbd-overview-section>
