<ngbd-overview-section [section]="sections['introduction']">
    <ngbd-typeahead-overview-section-introduction></ngbd-typeahead-overview-section-introduction>
</ngbd-overview-section>

<ngbd-overview-section [section]="sections['observable-contract']">
    <ngbd-typeahead-overview-section-observable-contract></ngbd-typeahead-overview-section-observable-contract>
</ngbd-overview-section>
<!--
<ngbd-overview-section [section]="sections['user-interaction']">
    <ngbd-typeahead-overview-section-display-customization></ngbd-typeahead-overview-section-display-customization>
</ngbd-overview-section> -->

<ngbd-overview-section [section]="sections['display-customization']">
    <ngbd-typeahead-overview-section-display-customization></ngbd-typeahead-overview-section-display-customization>
</ngbd-overview-section>
