<ngbd-overview-section [section]="sections['introduction']">
    <ngbd-typeahead-overview-section-introduction></ngbd-typeahead-overview-section-introduction>
</ngbd-overview-section>

<ngbd-overview-section [section]="sections['use-case-basic']">
    <ngbd-typeahead-overview-section-use-case-basic></ngbd-typeahead-overview-section-use-case-basic>
</ngbd-overview-section>

<ngbd-overview-section [section]="sections['use-case-events']">
    <ngbd-typeahead-overview-section-use-case-events></ngbd-typeahead-overview-section-use-case-events>
</ngbd-overview-section>

<ngbd-overview-section [section]="sections['use-case-remote']">
    <ngbd-typeahead-overview-section-use-case-remote></ngbd-typeahead-overview-section-use-case-remote>
</ngbd-overview-section>

<ngbd-overview-section [section]="sections['display-customization']">
    <ngbd-typeahead-overview-section-display-customization></ngbd-typeahead-overview-section-display-customization>
</ngbd-overview-section>

<ngbd-overview-section [section]="sections['operators']">
  <ngbd-overview-operators-reference></ngbd-overview-operators-reference>
</ngbd-overview-section>
